absl-py==2.1.0
accelerate==0.30.0
accelerator==2024.6.11
aiohttp==3.9.5
aiosignal==1.3.1
annotated-types==0.7.0
astunparse==1.6.3
attrs==23.2.0
banal==1.0.6
bitsandbytes==0.43.1
bottle==0.12.25
bracex==2.4
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
cloudpickle==3.0.0
cmake==3.29.6
contourpy==1.2.1
cycler==0.12.1
Cython==3.0.9
dargs==0.4.6
datasets==2.19.1
# Editable Git install with no remote (deepmd-kit==2.2.10)
-e /gpfs/apps/MN5/ACC/DEEPMD-KIT/SRC/deepmd-kit
deepspeed==0.14.2
deprecation==2.1.0
dill==0.3.8
diskcache==5.6.3
docstring_parser==0.16
dpdata @ file:///gpfs/projects/bsc99/bsc099260/DpNAFB/SRC/dpdata
duckdb==0.10.3
einops==0.8.0
filelock==3.14.0
flash-attn==2.5.9.post1
flatbuffers==24.3.25
fonttools==4.51.0
frozenlist==1.4.1
fsspec==2024.3.1
gast==0.5.4
google-pasta==0.2.0
greenlet==3.0.3
grpcio==1.63.0
h5py==3.11.0
hjson==3.1.0
huggingface-hub==0.23.4
i-PI==2.4.0
idna==3.7
iniconfig==2.0.0
interegular==0.3.3
jaxtyping==0.2.29
Jinja2==3.1.3
joblib==1.4.2
jsonformer==0.12.0
jsonpatch==1.33
jsonpointer==2.4
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
keras==3.3.3
Keras-Preprocessing==1.1.2
kiwisolver==1.4.5
langchain==0.2.1
langchain-core==0.2.3
langchain-text-splitters==0.2.0
langsmith==0.1.65
lark==1.1.9
libclang==18.1.1
lightning==2.2.5
lightning-utilities==0.11.2
lit==18.1.8
llvmlite==0.42.0
lxml==5.1.0
Mako==1.3.5
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.8.4
mdurl==0.1.2
ml-dtypes==0.3.2
monty==2024.5.24
mpi4py==3.1.6
mpmath==1.3.0
msgpack==1.0.8
multidict==6.0.5
multiprocess==0.70.16
namex==0.0.8
nest-asyncio==1.6.0
networkx==3.3
ninja==1.11.1.1
numba==0.59.1
numpy==1.26.4
nvidia-cublas-cu11==11.10.3.66
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu11==8.5.0.96
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu11==10.9.0.58
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu11==10.2.10.91
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu11==11.7.4.91
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu11==2.14.3
nvidia-nccl-cu12==2.20.5
nvidia-nvjitlink-cu12==12.5.40
nvidia-nvtx-cu11==11.7.91
nvidia-nvtx-cu12==12.1.105
onnx==1.16.0
onnx-graphsurgeon @ file:///gpfs/apps/MN5/ACC/TENSORRT/8.6/cuda12/onnx_graphsurgeon/onnx_graphsurgeon-0.3.12-py2.py3-none-any.whl#sha256=1ded3e1c4d6d9870f1974c89e1f8aa0ef72c3489bbd9762ac9a5b1b64eb15678
opt-einsum==3.3.0
optree==0.11.0
orjson==3.10.3
outlines==0.0.43
packaging==24.1
pandas==2.2.2
patchelf==0.17.2.1
pathlib==1.0.1
peft==0.11.1
pillow==10.3.0
pluggy==1.5.0
prob_jsonformer @ git+https://github.com/wassname/prob_jsonformer.git@ed5173705e587b45a8e063c730d7472478fa1790
protobuf==4.25.3
psutil==5.9.8
psycopg2-binary==2.9.9
py-cpuinfo==9.0.0
pyairports==2.1.1
pyarrow==16.1.0
pyarrow-hotfix==0.6
pycountry==24.6.1
pydantic==2.7.2
pydantic_core==2.18.3
Pygments==2.17.2
pynvml==11.5.0
pyparsing==3.1.2
pyscf==2.5.0
pyslurm==23.2.2
pytest==8.2.1
python-dateutil==2.9.0.post0
python-hostlist==1.23.0
pytorch-lightning==2.2.5
pytz==2024.1
PyYAML==6.0.1
rapidfuzz==3.9.2
ray==2.24.0
referencing==0.35.1
regex==2024.5.10
requests==2.31.0
rich==13.7.1
rpds-py==0.18.1
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
safetensors==0.4.3
scikit-learn==1.4.2
scipy==1.13.1
SCons==4.7.0
sentencepiece==0.2.0
seq2seq==0.0.4
setproctitle==1.3.3
shtab==1.7.1
signac==1.8.0
six==1.16.0
SQLAlchemy==1.4.52
stepbystep==1.0.5
sympy==1.12.1rc1
tabulate==0.9.0
tenacity==8.3.0
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorboardX==2.6.2.2
tensorflow @ file:///gpfs/apps/MN5/ACC/TENSORFLOW/2.16.1/tensorflow-2.16.1-cp311-cp311-linux_x86_64.whl#sha256=6cd4d5660afab62d63981b8fb93de3de5feb0b8c366a4d0ab03ed2faaa5e4f96
tensorflow-io-gcs-filesystem==0.37.0
tensorrt @ file:///gpfs/apps/MN5/ACC/TENSORRT/8.6/cuda12/python/tensorrt-8.6.1-cp311-none-linux_x86_64.whl#sha256=3238fd34cecb6ececa165fb81d3fa52afae2135d23dd0eafd6506fc186c5fda4
tensorrt-dispatch @ file:///gpfs/apps/MN5/ACC/TENSORRT/8.6/cuda12/python/tensorrt_dispatch-8.6.1-cp311-none-linux_x86_64.whl#sha256=84a325838d1e8aa410e50a711ee090d09378b0c5863b392c05dd5af2ebc677de
tensorrt-lean @ file:///gpfs/apps/MN5/ACC/TENSORRT/8.6/cuda12/python/tensorrt_lean-8.6.1-cp311-none-linux_x86_64.whl#sha256=a5f11119d4ec42a66983abe33969eca16d91292bf08d01387a2594ece0a1b710
termcolor==2.4.0
tf_keras==2.16.0
threadpoolctl==3.5.0
tokenizers==0.19.1
# Editable Git install with no remote (torch==2.4.0a0+gite3b9b71)
-e /gpfs/apps/MN5/ACC/PYTORCH/2.4.0
torchaudio==2.3.1+cu118
torchmetrics==1.4.0.post0
torchvision==0.18.1+cu118
tqdm==4.66.4
transformers==4.42.3
triton==2.3.1
trl==0.8.6
typeguard==4.3.0
typing_extensions==4.12.2
tyro==0.8.4
tzdata==2024.1
unsloth @ git+https://github.com/unslothai/unsloth.git@499635a19013319367358dcf2a0211d30073ebd0
urllib3==2.2.1
waitress==3.0.0
wcmatch==8.5.2
Werkzeug==3.0.2
wrapt==1.16.0
xformers @ https://download.pytorch.org/whl/cu118/xformers-0.0.26.post1%2Bcu118-cp311-cp311-manylinux2014_x86_64.whl#sha256=008d9176ebffbd86290b068860ff0ec5e6cb25cbaf7548085a073b2247fbd80e
xxhash==3.4.1
yarl==1.9.4
